.hlist {

    &__title {
        padding-bottom: 5px;
        font-size: 1.8rem;
    }

    &__lists {
        &-item {
            padding: 3px 0;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}