.product-list {
    display: flex;
    flex-wrap: wrap;

    &__heading {
        width: 100%;
        font-size: 2.5rem;
        border-bottom: 1px solid #333333;
    }
    &__animate {
        animation: slideInUp ease-in alternate 1s;
    }

    @keyframes slideInUp {
        from { transform: translateX(20%); opacity: 0;}
        to { transform:  translateX(0); opacity: 1;}
    }
}